/*Font and font size for such items.*/
#CompanyHeader1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
}

/*Used to center the divider image.*/
#PlacesToCheckOutImage {
    display: inline-block;
    vertical-align: top;
}

/*This is to round images.*/
#Image1 {
    border-radius: 50%;
}

/*Sets the text divider and where all those should be.*/
#PlacesToCheckOutMessage {
    display:inline-block;
    position: absolute;
    left: 150px;
}